.sub{
    background-color: #1687A7;
    border: none;
    color: white;
    height: 35px;
    width: 105px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 10px;
    text-align: center;

    transition: 0.2s;
}

.sub:hover{
    background-color: #136a82;
    opacity: 0.7;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
}

.sub:active{
    background-color: #136a82;
    opacity: 0.4;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #1687A7;
    padding: 10px 20px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold;
  }
  
input[type=file]::file-selector-button:hover {
    background: #136a82;
    opacity: 0.7;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
  }
